@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@800&family=Roboto+Condensed&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@800&family=Roboto+Condensed&family=Roboto:ital@1&display=swap');

body {
  background-color: antiquewhite;
  font-family: Roboto Condensed;
}

.form-one {
  width: 428px;
  height: 550px;
}

.container-one {
  padding: 32px;
  box-shadow: 40px 40px 60px 0px rgba(0, 0, 0, 0.10);
}

.input-one, .input-two {
  width: 100%;
  padding: 12px;
  display: flex;
  border-radius: 5px;
}

.input-label {
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 4px;
}

/* TOGGLE CHECKBOX */
/* The switch - the box around the slider */
/* https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s; //sets the transition animation with a duration of 0.4 seconds
  transition: .4s;
}

.slider:before { //::before adds additional content before the content of the element
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background-color: white;
  -webkit-transition: .4s; //animation should have a duration of 0.4 seconds
  transition: .4s;
}

input:checked + .slider { //checkboxes that the user has checked
  background-color: #FD7918;
}

input:focus + .slider { //is active or in the user's focus
  box-shadow: 0 0 1px #FD7918;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px); //Google Chrome and Safari
  -ms-transform: translateX(14px); // Internet Explorer and Microsoft Edge
  transform: translateX(14px); // standard version
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-checkbox-container {
  display: flex;
  align-items: center;
  padding-top: 22px;
}

.subscribe-text {
  font-family: Inter;
  padding-left: 5px;
}

/* SIGN IN BUTTON */

.sign-in-button-container {
   padding-top: 32px;
   padding-bottom: 32px;
}

.sign-in-button {
  width: 100%;
  display: flex;
  padding: 12px 48px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--purple-100, #651FFF);
}

.forgot-password {
  display: flex;
  justify-content: center;
}

.rectangle {
  width: 100%;
  height: 2px;
  background: gray;
  margin-top: 32px;
  margin-bottom: 32px;
}

.continue-text {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5A5761;
}

.google-logo, .facebook-logo {
  width: 24px;
  height: 24px;
}

.google-buttom, .facebook-buttom{
  padding: 12px 75px;
  margin-top: 16px;
}

.buttons-container {
  display: flex;
  gap: 16px;
}

/* FORM TWO */

.form-separator {
  margin-top: 150px;
}

.form-two {
  width: 874px;
  height: 810px;
  box-shadow: 40px 40px 60px 0px rgba(0, 0, 0, 0.10);
}

.container-two {
  width: 666px;
  height: 654px;
  display: grid;
  gap: 16px;
  margin: 104px;
  padding: 32px;

  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  
}



.box-1, .box-6, .box-7, .box-8 {
  grid-column: 1 / 3;
}


/* customer input checkbox */
.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  border: none; 
}

.real-checkbox:focus + .custom-checkbox {
  box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}


.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid gray;
  border-radius: 4px;
  margin-right: 5px;
  vertical-align: sub; //aligns custom button with the text
}

.custom-checkbox::before {
  content: '\2713';
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: background-color 0.3s;
}

.real-checkbox:checked + .custom-checkbox {
  background-color: #FD7918; // change color if clicked
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.type-message {
  width: 100%;
  padding: 8px 14px 160px 12px;
}

.submit-button {
  display: flex;
  align-items: center;
  padding: 12px 48px;
  border-radius: 5px;
  
  background: #651FFF;
}

.box-8, .box-8-test {
  justify-self: end;
}

/* FORM THREE */
.form-three {
  width: 874px;
  height: 872px;
}

.resizable-input-container {
  display: flex;
  flex-direction: column;
}

.text-area {
  padding-top: 8px;
  padding-left: 12px;
}


.custom-container-form-three {
  display: grid;
  gap: 16px;
  margin: 104px;
  padding: 32px;

  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);

  box-shadow: 40px 40px 60px 0px rgba(0, 0, 0, 0.10);
}


.box-9 {
  grid-column: 1;
  grid-row: 1 / 7;
  background: #651FFF;
}

.inner-container-one {
  display: grid;
  gap: 16px;
  padding: 46px 16px 32px 16px;
}

.box-1-test, .box-6-test, .box-7-test, .box-8-test {
  grid-column: 2 / 4;
}
